body { font-family:Georgia,serif; margin:2em 10%; }
header { text-align:center; }
p { margin-bottom:1.2em; }
p::first-letter { font-size:200%; }
p::first-line { font-weight:bold; }
mark { background:#ffea99; }
blockquote {
  border-left:4px solid #004466;
  background:#f0f8ff;
  margin:1em; padding:1em;
  font-style:italic;
}
